RedirectMatch ^/assets/?$ http://opciforme.byethost17.com/
RedirectMatch ^/assets/docs/?$ http://opciforme.byethost17.com/	
RedirectMatch ^/assets/php/?$ http://opciforme.byethost17.com/




















